@page
@model MediaBazzar.Pages.UserModel
@{

//Layout = "User_layout";
//ViewData["Title"] = "Home page";
}

@*<div class="main_content">
    <div>
        <img width="100%" height=" 30px" src="~/image/Mediabazaar.jpg" alt="Mediabazaar" />
    </div>
</div>*@