@page
@model UserHomeModel
@{
    Layout = "Homepage_Layout";
    ViewData["Title"] = "Home page";

}
<div class="content-container">
    <div>

        <img style="width:50%" src="~/image/MD.png" alt="Cinque Terre" />


    </div>
</div>