<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MediaBazzar</title>
    <link rel="stylesheet" href="~/css/view.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <!-- nav bar -->
    <section class="header">
        <nav>
            <a asp-area="" asp-page="/Index"><img src="~/image/MB Logo.png" alt="logo" /></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a asp-area="" asp-page="/Index">HOME</a></li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-page="/Profile">LOGIN</a></li>
                    }
                    @if (User.Identity.IsAuthenticated && !User.IsInRole("Manager") && !User.IsInRole("Admin"))
                    {
                        <li><a asp-area="" asp-page="/Schedule">SCHEDULE</a></li>
                        <li><a asp-area="" asp-page="/PreferredTime">PREFERED TIME</a></li>
                        <li><a asp-area="" asp-page="/Availability">AVAILABLE</a></li>
                        <li><a asp-area="" asp-page="/Profile">PROFILE</a></li>
                        <li><a asp-area="" asp-page="/Logout" asp-page-handler="Logout">LOGOUT</a></li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Manager") && !User.IsInRole("Admin"))
                    {
                        <li><a asp-area="" asp-page="/Profile">PROFILE</a></li>
                        <li><a asp-area="" asp-page="/Logout" asp-page-handler="Logout">LOGOUT</a></li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") && !User.IsInRole("Manager"))
                    {
                        <li><a asp-area="" asp-page="/Profile">PROFILE</a></li>
                        <li><a asp-area="" asp-page="/Logout" asp-page-handler="Logout">LOGOUT</a></li>
                    }
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        
    </section>

    <!-- main content-->
    <div>
        @RenderBody()
    </div>


    <!-- JavaScript for toggle menu -->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }

        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
